<a href="{{channel.url}}">
    <h4 class="list-header" target="_blank">{{channel.title}}</h4>
    {{channel.city}}, {{channel.state}}
</a>
{{#if channel.editable}}
<button class='btn btn-xs' {{action 'editChannel'}}>edit</button>
<button class='btn btn-xs btn-success' {{action 'delete'}}>delete</button>
{{/if}}

{{!-- #each listr-list component 'toggleListDetail' - so they are hidden from the beginning --}}
{{!-- {{action 'toggleListDetail'}} --}}

{{!-- <ol>
  listr-list/item is supposed to display each channel here:
  {{#each sortedChannel as |channel|}}
    {{listr-list/item channel=channel
                      toggleDone='toggleItemDone'
                      delete='deleteItem'}}
  {{/each}}
</ol> --}}
