<br>
<form {{action 'save' on='submit'}}>
  {{input placeholder='channel name'
          maxlength="70"
          required='true'
          value=channel.title}}<br>
  {{input placeholder='link to channel'
          type='url'
          required='true'
          value=channel.url}}<br>
  {{input placeholder='city where bike cammer is based'
          maxlength="40"
          required='true'
          value=channel.city}}<br>
  {{input placeholder='country OR state, country'
          maxlength="40"
          required='true'
          value=channel.state}}<br>
  <button class='btn btn-xs btn-danger' type='submit' class='btn btn-xs'>Save</button>
  <button {{action 'cancel'}} class='btn btn-xs btn-danger'>back</button>
</form>
