{{email-input email=credentials.email}}
{{password-input password=credentials.password}}
{{password-confirmation-input password=credentials.passwordConfirmation}}

<p class="pull-right">Note: Email and password information is not secure so use a fake email and unique password.</p>

<button type="submit" class="btn btn-primary" {{action "submit"}}>
  Sign Up
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>
